/* Colors */
/* Fonts */
/* Basics */
html {
  position: relative; }

body {
  position: relative; }

#wrap {
  position: relative;
  min-height: 100%; }

.content {
  padding-bottom: 80px; }

body {
  background: #e9ece5;
  font-family: "Open Sans", Arial, sans-serif;
  color: #212121; }

.inner {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }

header {
  background: #81c784;
  height: 100px; }
  header img.logo {
    display: block;
    float: left;
    padding-top: 12px; }
  header .contact-info {
    padding-top: 15px;
    float: right;
    color: #fff;
    line-height: 1.4em;
    font-size: 14px;
    text-align: right; }
    header .contact-info .title {
      font-size: 20px;
      margin-bottom: 10px; }
    header .contact-info a {
      color: #fff; }
      header .contact-info a:hover {
        text-decoration: underline; }

#main-nav {
  margin-top: 20px;
  margin-bottom: 20px; }
  #main-nav a {
    display: block;
    float: left;
    width: 255px;
    margin-right: 7px;
    text-align: center;
    line-height: 62px;
    text-transform: uppercase;
    font-size: 18px;
    color: #212121;
    background: #fff;
    border: 1px solid #f8a403;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    #main-nav a:nth-child(3) {
      margin-right: 6px; }
    #main-nav a:nth-child(4) {
      margin-right: 0; }
    #main-nav a i.fa {
      font-size: 30px;
      top: 3px;
      margin-right: 2px;
      position: relative; }
    #main-nav a.active, #main-nav a:hover {
      background: #f8a403;
      color: #212121;
      border-color: #f8a403; }

#content p {
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.6em;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify; }

#free {
  padding-top: 30px;
  padding-bottom: 10px; }
  #free a.free {
    display: block;
    margin: 0 auto;
    width: 600px;
    background: #fff;
    border: 1px solid #f8a403;
    color: #212121;
    text-align: center;
    font-size: 26px;
    height: 60px;
    line-height: 58px;
    border-radius: 20px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    #free a.free:hover, #free a.free.active {
      background: #f8a403;
      color: #212121;
      border-color: #f8a403; }
  #free .desc {
    text-align: center;
    color: #3b3a36;
    font-size: 14px;
    margin-top: 10px; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding-top: 24px; }
  footer nav#footer-nav {
    text-align: center; }
    footer nav#footer-nav a {
      font-size: 20px;
      display: inline;
      margin-right: 20px;
      white-space: nowrap;
      text-align: center;
      color: #81c784;
      border-bottom: 1px solid #81c784;
      padding-bottom: 4px;
      position: relative; }
      footer nav#footer-nav a:hover {
        border-bottom: 0; }
      footer nav#footer-nav a:before {
        position: absolute;
        right: -10px;
        top: 4px;
        width: 1px;
        height: 20px;
        background: #3b3a36;
        display: block;
        content: ""; }
      footer nav#footer-nav a:last-child {
        margin-right: 0; }
        footer nav#footer-nav a:last-child:before {
          display: none; }

@media all and (max-width: 1250px) {
  .inner {
    max-width: 960px; }

  #main-nav .inner {
    max-width: 640px; }
  #main-nav a {
    margin-bottom: 7px; }
    #main-nav a:nth-child(2n) {
      margin-right: 0; } }
@media all and (max-width: 650px) {
  footer #footer-nav a {
    font-size: 14px !important; }
    footer #footer-nav a:before {
      height: 15px; }

  header {
    height: 80px; }

  header .logo {
    width: 190px; }

  header .contact-info {
    margin-top: -4px; }
    header .contact-info p {
      font-size: 12px;
      line-height: 1.2em;
      margin-bottom: 4px; }
    header .contact-info .title {
      font-size: 14px;
      line-height: 1.2em; }

  #main-nav a {
    float: none;
    margin: 0 auto 10px auto !important;
    display: block; }

  a.free {
    width: 80% !important; } }
@media all and (max-width: 340px) {
  #main-nav a {
    width: 90% !important; } }
